<!DOCTYPE html>
<html>
  <body>
    <div class="front-page">
      <div class="col-md-7">
        <h2>The goal is to be able to make decisions on the go<h2>
        <h1>With the help of big data technology, you don't have to wait and wonder anymore</h1>
        <font color="red"><h2>If you're one of those middle managers and you feel often time than not you're stuck between decisions then you should try Cool Cutting Board<h2></font>

        <%= link_to "Let's start", new_order_path(@order) %>

      </div>
      <br/>
      <div class="col-md-1">

      </div>
      <div class="col-md-4">
        <h3>We use data analytic to compare your orders</h3>
        <div class="thumbnail1">
        </div>
        <h3>We think visual data is the best approach</h3>
        <div class="thumbnail2">
        </div>
      </div>
    </div>
    <br/>
    <hr>
    <div class="new-restaurant">
      <h3>To do list with the new bar:</h3>
      <ul>
        <li>Mandatory meeting once a month</li>
        <li>Write guidelines, to modify the order</li>
        <li>Tips are once a week</li>
        <li>Get Bonito Flakes, shisito peppers, seasalt, kaizon noodles</li>
        <li>Serve Hamachi Kama and Tuna Tartare</li>
        <li>Gluten free menu</li>
      </ul>
      <h3>Fish Killing techniques: </h3>
      <ul>
        <li>ikejime = live slaughter. Hit the brain with a long metal</li>
        <li>Shinkei-nuki = using a long metal insert from the tail to the head, along the spine</li>
        <li>The more the fish moves when it's being slauhgtered the more of the textures and sweetness go away. Less movement, better tasting fish</li>
        <li>Kaimin = sleeping. Accupuntured fish on a board. To put the fish in comatose state, to maximize the freshness, until right before the kill</li>
        <h4><a href="http://www.parkresto.com"> Source: Chef Antonio Park </a></h4>
        <h4><a href="http://www.pinterest.com/search/pins/?q=beautiful%20sushi">Awesome Sushi, Pinterest</a></h4>
        <h4><a href="http://instagram.com/chefantoniopark">Instagram Park</a></h4>
        <h4><a href="http://i.instagram.com/tonasushi">Tony Chen</a></h4>
        <hr>
        <h4>Grilled Hamachi Kama, with deep fried salmon skin spring mix, japanese dressing</h4>
    </div>
  </body>
  <br/>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><p>developed by &#0153;Seasalt Works</p></center>
        </div>
      </div>
    </div>
  </footer>
</html>