<!DOCTYPE html>
<html>
  <body>
    <div class="front-page">
      <div class="col-md-7">
        <font color="red"><h1>This site is still under construction, up until the end of 2014. Thanks for visiting</h1></font>
        <h2>The goal is to be able to make decisions on the go<h2>
        <h1>With the help of big data technology</h1>

        <%= link_to "Let's start", new_order_path(@order) %>

      </div>
      <br/>
      <div class="col-md-1">

      </div>
      <div class="col-md-4">
        <h3>We use data analytic</h3>
        <div class="thumbnail1">
        </div>
        <h3>We think visual data is the best approach</h3>
        <div class="thumbnail2">
        </div>
      </div>
    </div>
    <br/>
    <hr>
  </body>
  <br/>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><p>developed by &#0153;Seasalt Works</p></center>
        </div>
      </div>
    </div>
  </footer>
</html>