<!DOCTYPE html>
<html>
  <body>
    <div class="front-page">
      <center>
      <h1> We bridge businesses with their vendors </h1>
      <h3>make decision on the go. no more waiting complicated management</h3>
      <h2>"Some people regard private enterprise as a predatory tiger to be shot. Others look on it as a cow they can milk. Not enough people see it as a healthy horse, pulling a sturdy wagon."</h2>

      <%= link_to "Order Here", new_order_path(@order) %>
    </center>
    </div>
    <hr/>
    <div class="container">
      <div class="row">
       <div class="col-md-4">
           <center><h4>We utilize data analytic</h4></center>
          <div class="thumbnail1">
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail2">
            <h4>Utilize big data</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail3">
            <h4>Utilize big data</h4>
          </div>
        </div>
      </div>
    </div>

  </body>
  <hr/>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><p>developed by &#0153;Seasalt Studio</p></center>
        </div>
      </div>
    </div>
  </footer>
</html>