<!DOCTYPE html>
<html>
  <body>
    <div class="front-page">
      <h5> We bridge businesses with their vendors </h5>
      <%= link_to "Order Here", new_order_path(@order) %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail1">
            <h4>Utilize big data</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail2">
            <h4>Utilize big data</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail3">
            <h4>Utilize big data</h4>
          </div>
        </div>
      </div>
    </div>

  </body>
  <hr/>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><p>developed by &#0153;Seasalt Studio</p></center>
        </div>
      </div>
    </div>
  </footer>
</html>