<!DOCTYPE html>
<html>
  <body>
    <div class="front-page">
      <div class="col-md-6">
        <h1>Cool Cutting Board</h1>
        <h2>The goal is to be able to make decisions on the go<h2>
        <h1>With the help of big data technology, you don't have to wait and wonder anymore</h1>
        <h2>If you'd like to keep it simple, then you should try CoolCuttingBoard<h2>

        <%= link_to "Let's start", new_order_path(@order) %>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4">
        <h3>We use data analytic to compare your orders</h3>
        <div class="thumbnail1">
        </div>
        <h3>We think visual data is the best approach</h3>
        <div class="thumbnail2">
        </div>
      </div>
    </div>
  </body>
  <br/>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><p>developed by &#0153;Seasalt Works</p></center>
        </div>
      </div>
    </div>
  </footer>
</html>