<body>
  <div class="post">
    <h1>News</h1>
  </div>
   <% @posts.each do |post| %>
      <div class="span3 well">
        <h3><%= link_to post.title, post %></h3>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
</body>
<br/>
<footer class="footer">
  <div class="container" >
    <div class="row">
      <div class="col-md-12">
        <center><%= link_to 'New Post', new_post_path %></center>
      </div>
    </div>
  </div>
</footer>
