<h4>Orders for next delivery day: </h4>
  <center><h2><font color="steelblue"><%= @order.product %>  </font></h2></center>
  <center><h2><font color="steelblue"><%= @order.quantity %> <%= @order.unit %>  </font></h2></center>
  <center><h2><font color="steelblue"><%= @order.description %>  </font></h2></center>
<h4>Thank you</h4>
