<div class="post">
<h1>Members</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name, member %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
</div>

<div class="new-restaurant">
  <h3>To do list with the new bar:</h3>
  <ul>
    <li>Mandatory meeting once a month</li>
    <li>Write guidelines, to modify the order, writing on the ticket</li>
    <li>Tips are once a week</li>
    <li>Get Bonito Flakes, shisito peppers, seasalt, kaizon noodles</li>
    <li>SOS = sauce on the side, TOS : topping on the side</li>
    <li>gluten free, brown rice or steam rice?</li>
    <li>Crab: snow crab, crab stick, soft shell crab, or crab cake?</li>
    <li>shellfish alergy ? Most people think only shrimp, lobster or crab are considered to be shellfish (the apparent shell), but shellfish has many types. Few items behind the sushi bar that are shellfish: scallops, calamari/squid, uni, octopus.</li>
    <li>Vegetarian rolls</li>
    <li>Serve Hamachi Kama and Tuna Tartare</li>
    <li>Gluten free menu</li>
    <li>Take a lot of behind the scenes photos</li>
    <li>Soy Wasabi Butter:
        1 tablespoon ginger, crushed
        1 teaspoon shallots
        4 ounces white wine
        1 teaspoon lime juice
        2 ounces heavy cream
        1/4 pound unsalted butter
        3 tablespoons sweet Thai chili sauce
        1 ounce wasabi paste
        3 ounces shoyu
    </li>
  </ul>
  <h3>Fish Killing techniques: </h3>
  <ul>
    <li>ikejime = live slaughter. Hit the brain with a long metal</li>
    <li>Shinkei-nuki = using a long metal insert from the tail to the head, along the spine</li>
    <li>The more the fish moves when it's being slauhgtered the more of the textures and sweetness go away. Less movement, better tasting fish</li>
    <li>Kaimin = sleeping. Accupuntured fish on a board. To put the fish in comatose state, to maximize the freshness, until right before the kill</li>
  </ul>
    <h4><a href="http://www.parkresto.com"> Source: Chef Antonio Park </a></h4>
    <h4><a href="http://www.pinterest.com/search/pins/?q=beautiful%20sushi">Awesome Sushi, Pinterest</a></h4>
    <h4><a href="http://instagram.com/chefantoniopark">Instagram Park</a></h4>
    <h4><a href="http://i.instagram.com/tonasushi">Tony Chen</a></h4>
    <hr>
    <h4>Grilled Hamachi Kama, with deep fried salmon skin spring mix, japanese dressing</h4>
    <h4>Watermelon and tuna go well together according to Tyson Cole of Uchi</h4>
    <h4>Mango and salmon carpaccio</h4>
    <h4>Omaru Ebi: Poached Lobster with canary melon gazpacho</h4>
    <h4>Hondashi: bonito flakes, made from shaved dried skipjack tuna and kelp (large brown seaweed)</h4>
    <h4>Ponzu : made from citrus juice(usually lemon), soy sauce, hondashi, suehiro zu(rice vinegar)</h4>
    <h4>some Japanese mayo contain msg and malt vinegar, which contains gluten</h4>
    <h4>What is in 7 spices?  chiles, dried orange peel, Sichuan peppercorns, sesame seeds (white and/or black), dried ginger, and seaweed.</h4>
    <h4>Heston Blumenthal at Home: tea-smoked salmon</h4>
    <h4>How to smoke food:</h4> <p>Whether you are cold or hot smoking, the process involves fire and smoke. Smoke is very invasive, so to prevents alarms going off and your house smelling like it's fire damaged, you should do smoking outside. 1). If cold-smoking, put a container of ice under the rack in a smoking tin or box. If hot smoking, omit the ice. Place the food on the rack. 2)Put the smoking chips in a corner of the tin and set them alight. Seal the thin and leave for 30 minutes. 3) Repeat the process up to two more times, depending on the level of smokiness you want</p>
    <h4><a href="http://www.seriouseats.com/2012/01/spice-hunting-seven-spice-powder-shichimi-togarashi-japanese-condiment.html"">sichimi togarashi reading</a></h4>
    </div>
